# dist directory
/dist/

# Config files
/db.ini
/application/config/config.ini
/application/tests/config.ini

# Log files
/application/logs/errors.log
/application/logs/processes.log
/application/tests/log.xml

# Test files
/application/tests/_files/temp/

# Unlike the upstream Omeka, we want themes and plugins
plugins/Dropbox/files/*
plugins/CsvImport/csv_files/*
plugins/CsvImport/files/*
plugins/EadImporter/xmldump/*

# Server log files
/logs

# Files
/files

# htaccess file (will be different for prod and dev)
.htaccess

# For macs
.DS_Store

# For VIM
.*.sw*

# For Eclipse
.buildpath
.project
.settings/
